.content-view-game {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #041d3f;
}

.game {
  padding-left: 25px;
  padding-right: 25px;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}

.game > .header {
  background-color: black;
}
