.content-game-wrapper {
  padding: 20px;
  background-color: aliceblue;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-game {
  padding: 10px;
  padding-left: 15px;
  background-color: lightcoral;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}

.content-rows {
  flex-direction: row;
}
